Sounds/
TomSongQueueue/
v2/
releases/
ImageSearch/Premiere/reset.bmp
Backups/OBS
Support Files/images/og
Logs/Error Logs/*.txt
Logs/Other Logs/*.txt
Support Files/replaceChecklist_log.txt
Support Files/replaceChecklist.ahk
Backups/RODECaster/shows/mine/pads
lib/Other/UIA/Examples
lib/Other/UIA/.gitignore
lib/Other/UIA/UIATreeInspector.ahk

# adobe symlinks
Support Files/ImageSearch/AE/v23.0
Support Files/ImageSearch/AE/v23.1
Support Files/ImageSearch/AE/v23.2
Support Files/ImageSearch/AE/v23.2.1
Support Files/ImageSearch/AE/v23.3
Support Files/ImageSearch/AE/v23.4
Support Files/ImageSearch/AE/v23.5
Support Files/ImageSearch/AE/v23.6
Support Files/ImageSearch/Premiere/v23.0
Support Files/ImageSearch/Premiere/v23.1
Support Files/ImageSearch/Premiere/v23.2
Support Files/ImageSearch/Premiere/v23.3
Support Files/ImageSearch/Premiere/v23.4
Support Files/ImageSearch/Premiere/v23.5
Support Files/ImageSearch/Premiere/v23.6
Support Files/ImageSearch/Photoshop/v24.2
Support Files/ImageSearch/Photoshop/v24.2.1
Support Files/ImageSearch/Photoshop/v24.0.1
Support Files/ImageSearch/Photoshop/v24.1
Support Files/ImageSearch/Photoshop/v24.1.1
Support Files/ImageSearch/Photoshop/v24.5
Support Files/ImageSearch/Photoshop/v24.6
Support Files/ImageSearch/Photoshop/v24.7
Support Files/shortcuts/Adobe Premiere Pro.exe.lnk
Support Files/shortcuts/AfterFX.exe.lnk