[submodule "Support Files/textreplace"]
	path = Support Files/textreplace
	url = https://github.com/Tomshiii/textreplace
[submodule "Backups/Wiki"]
	path = Backups/Wiki
	url = https://github.com/Tomshiii/ahk_wiki/
