Sounds/
TomSongQueueue/
v2/
releases/
ImageSearch/Premiere/reset.bmp
Backups/OBS
Support Files/images/og
Logs/Error Logs/*.txt
Logs/Other Logs/*.txt
Support Files/replaceChecklist_log.txt
Support Files/replaceChecklist.ahk
Backups/RODECaster/shows/mine/pads
lib/Other/UIA/Examples
lib/Other/UIA/.gitignore
lib/Other/UIA/UIATreeInspector.ahk
lib/Other/Notify/Settings.json
Backups/Adobe Backups/Premiere/Knights of the Editing Table/excalibur/license.json

# adobe shortcut files
Support Files/shortcuts/*.lnk

# clipboard storage file
Support Files/Clipboard Storage/clipStorage.ini